@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

:root {
  --main-bg-color: #252424;
  
  --high-font-color: rgba(255, 239, 217, 0.87);
  --medium-font-color: rgba(255, 239, 217, 0.6);
  --low-font-color: rgba(255, 239, 217, 0.38);
}

body {
  background: var(--main-bg-color);
  padding-top: 5em;
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--medium-font-color);
  font: 30px 'Fira Mono', monospace;
}

.projects {
  margin-top: 1vw;
} 

a {
  color: var(--high-font-color);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: var(--low-font-color);
}

footer{
  position: fixed;
  bottom: 0;
  margin-top: 1vh;
  width: 100%;
}

footer p {
  text-align: center;
  color: var(--low-font-color);
  font-size: 10px;
  text-shadow: 0px 0px 10px #000000;
}